extends ../layouts/application.pug

block header
  = t('views.users.edit.editUser')

block content
  +formFor()(action=`/users/${user.id}`, method="post")
    +input(user, 'firstName', errors)(type="text")
    +input(user, 'lastName', errors)(type="text")
    +input(user, 'email', errors)(type="text")
    +input(user, 'password', errors)(type="password")
    input(name="_method" type="hidden" value='patch')
    +submit(user)(value=t('views.users.edit.submit'))
  +buttonTo(`/users/${user.id}`, 'delete')(value=t('views.users.edit.delete'), class="btn btn-danger mt-2")
