extends ../layouts/application.pug

block header
  = t('views.task.new.add')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors)(type="text")
    +textarea(task, 'description', errors)
    +select(statuses, 'statusId', errors, false)(class='form-select')
    +select(users, 'executorId', errors, false)(class='form-select')
    +select(labels, 'labels', errors, true)(class='form-select')
    +submit(status)(value=t('views.statuses.new.submit'))
