extends ../layouts/application.pug

block header
  = t('views.status.edit')

block content
  //- +formFor()(action=route('patchStatusUser', { id: status.id }), method='post')
  +formFor()(action=`/status/${status.id}`, method='post')
    +input(status, 'status', errors)(type="text")
    input(name='_method' type='hidden' value='patch')
    +submit(satus)(value=t('views.status.edit'))