extends ../layouts/application.pug

block header
  = t('views.tasks.editTask')

block content
  +formFor()(action=`/tasks/${task.id}`, method='post')
    +input(task, 'name', errors)(type="text")
    +textarea(task, 'description', errors) 
    +select(task, 'statusId', errors, statuses, false, [task.statusId])
    +select(task, 'executorId', errors, users, false, [task.executorId])
    +select(task, 'labels', errors, labels, true, task.labels)(multiple)
    input(name='_method' type='hidden' value='patch')
    +submit(task)(value=t('views.tasks.edit'))