extends ../layouts/application.pug

block header
  = t('views.tasks.new.label')

block content
  +formFor()(action=route('tasks') method='post')
    +input(tasks, 'name', errors)(type="text")
    +textarea(task, 'description', errors) 
    +select(tasks, 'statusId', errors, statuses)
    +select(tasks, 'executorId', errors, users)
    +select(tasks, 'labels', errors, labels, true)(multiple)
    +submit(task)(value=t('views.tasks.new.create'))